<ul>
  <%= link_to comment.content, comment_url(comment) %><br />
  by <%= comment.commenter.username %><br />

  <% #if comment.child_comments.any? %>
  <% @all_comments.select {|comment| each do |child_comment| %>
      <li><%= render "comment", comment: child_comment %></li>
  <% end %>
<% end %>
</ul>
