
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:900);


body {
  background: url("congruent_pentagon.png");
}

.navbar-default {
  font-family: verdana;
  margin-bottom: 15px;
  }

.comments ul {
  padding-left: 30px;
  list-style-type: none;
}
.comments li {
  list-style-type: none;
  padding: 10px 0 10px 0;
}

.comment-header a {
  color: #D93829;
}

h1 {
  font-family: 'Lato', georgia, sans-serif;
}

.btn-custom {
  background-color: #2C3E50;
  color: #ffffff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #3B536B;
  color: #ffffff;
}

.label-default {
  color: #ffffff;
  background-color: #E74C3C;
  font-size: 12px;
  a {
    color: #ffffff;
  }
}

.vote {
  font-family: 'Lato', georgia, sans-serif;
}
